*.classes
liferay_workspace/eclipse/.metadata
liferay_workspace/Servers
liferay_workspace/liferay-plugins-sdk-6.0.5/portlets/IncolegVideo-portlet/docroot/WEB-INF/classes
liferay_workspace/liferay-plugins-sdk-6.0.5/portlets/IncolegVideo-portlet/bin
liferay_workspace/liferay-plugins-sdk-6.0.5/Servers
liferay_workspace/liferay-plugins-sdk-6.0.5/.metadata
liferay_workspace/eclipse/ConvertVideo/bin
liferay_workspace/eclipse/ConvertVideo/*.log
liferay_workspace/liferay-plugins-sdk-6.0.5/lib/.fuse*
liferay_workspace/liferay-plugins-sdk-6.0.5/portlets/ColegUserManager-portlet/docroot/WEB-INF/classes
liferay_workspace/liferay-plugins-sdk-6.0.5/portlets/members-manager-portlet/docroot/WEB-INF/classes

