@CHARSET "ISO-8859-1";

.aksh-Tooltip-Panel {
	background-color: #ffc;
	border: 2px solid #3F363D;
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-family: Georgia;
	font-size: 1.0em;
	font-style: italic;
}
